body{
    margin: 0;
    padding: 0;
}

.header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner.jpeg);
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
}
logo{
    width: 140px;
    position: inherit;
    top: 4%;
    left: 10%;
}

h1{
    text-align: center;
    color: #fff;
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
    
}

span{
    color: #f44336;
}

.search-field{
    height: 20px;
    width: 130px;
    padding: 10px;
    
}

.skills {
    width: 400px;
}

.search-btn{
    height: 50px;
    width: 150px;
    background: blue;
    border: none;
    color: #fff;
}

.search-btn:hover{
    background: navy;
    cursor: pointer;
}

.form-box{
    background: rgba(255,255,255,0.5);
    padding: 30px 50px;
}